<!doctype html>
<html lang="en">
  <%- include('includes/header'); %>
  <body>
    <%- include('includes/nav'); %>
    <div class="container" mt-5>
      <h1>Page Not Found!</h1>
      <img src="/img/404.png.png" class='img-fluid' alt='not found'>
  </div>
    <%- include('includes/footer'); %>

  </body>
</html>
