<!doctype html>
<html lang="en">
  <%- include('includes/header'); %>
  <body>
    <%- include('includes/nav'); %>
    <h1>Hello, Arafat!</h1>
    <%- include('includes/footer'); %>
   
  </body>
</html>