<!DOCTYPE html>
<html lang="en">

<%- include('includes/header'); %>

  <body>
    <%- include('includes/nav'); %>
      <div class="container">
        <form method="POST" action="/register">

          <div class="from-group">
            <label for="name"><sup class="text-danger">*</sup>Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="from-group">
            <label for="email">Email address<sup  class="form-label">*</sup></label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
          </div>
          <div class="from-group">
            <label for="password"></label><sup  class="form-label">*</sup>password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          
          <div class="from-group>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <%- include('includes/footer'); %>
  </body>

</html>